p {
	text-align: center;
	font-size: 10px;
}

.author {
	text-decoration: none;
}

.container {
	font-family: "Raleway", sans-serif;
	margin: 50px;
}

.card {
	display: block;
	margin: 0 auto;
	width: 550px;
}

.changeCity {
	display: inline-block;
	width: 280px;
	height: 33px;
}

.display {
	text-align: center;
	padding: 25px;
}

.location {
	display: inline-block;
	text-align: right;
}

#city-heading,
#temp-heading {
	font-size: 48px;
	font-weight: bold;
	text-transform: capitalize;
}

#city-heading {
	padding-top: 15px;
	padding-bottom: 12px;
}

#celsius,
#fahrenheit {
	text-decoration: none;
	color: grey;
}

#description:first-letter {
	text-transform: capitalize;
}

#search-bar {
	padding-top: 15px;
}
#units {
	font-size: 18px;
	position: relative;
	top: -15px;
}
