p {
	text-align: center;
	font-size: 10px;
}

.author {
	text-decoration: none;
}

.card {
	display: block;
	margin: 0 auto;
	width: 550px;
}

.container {
	font-family: "Raleway", sans-serif;
	margin: 50px;
}

.changeCity {
	display: inline-block;
	width: 430px;
	height: 33px;
}

.display {
	text-align: center;
	padding: 25px;
}

.location {
	display: inline-block;
	text-align: right;
}

.weather-forecast-day {
	text-align: center;
	margin-top: 15px;
	font-weight: bold;
}

.weather-forecast-temp {
	text-align: center;
	font-size: 15px;
}

.weather-forecast-temp-min {
	opacity: 0.5;
}

#city-heading,
#temp-heading {
	font-size: 48px;
	font-weight: bold;
	text-transform: capitalize;
}

#city-heading {
	padding-top: 15px;
	padding-bottom: 12px;
}

#fahrenheit,
#celsius {
	text-decoration: none;
}
#temp-heading .active {
	color: gray;
	cursor: default;
	text-decoration: none;
}

#temp-heading .active:hover {
	text-decoration: none;
}

#description:first-letter {
	text-transform: capitalize;
}

#search-bar {
	padding-top: 15px;
}
#units {
	font-size: 18px;
	position: relative;
	top: -15px;
}
